<div class="container-fluid">
  <div class="col-xs-12 col-md-12 col-lg-12">

<!--
    <div class="row">
      <h2 class="col-xs-6">Adattábla</h2>
      <div class="col-xs-2">
        <label class="label-control">Sorok egy oldalon:</label>
        <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="5">10</option>
                    <option [ngValue]="20">20</option>
                    <option [ngValue]="30">30</option>
                </select>
      </div>
      <div class="col-xs-4">
        <div class="row">
          <label class="col-xs-12 label-control">Rendezés: </label>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <select class="form-control input-sm" [(ngModel)]="sortBy">
                            <option ngValue="brandof_mower">Márka</option>
                            <option ngValue="name">Név</option>
                            <option ngValue="typeof_mower">Típus</option>
                            <option ngValue="color_of">Szín</option>
                            <option ngValue="cutting_width_cm">Vágószélesség</option>
                            <option ngValue="weight_in_kg">Súly</option>
                            <option ngValue="performance_in_hp">Teljesítmény</option>
                        </select>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <select class="form-control input-sm" [(ngModel)]="sortOrder">
                            <option ngValue="asc">Növekvő</option>
                            <option ngValue="desc">Csökkenő</option>
                        </select>
          </div>
        </div>
      </div>
    </div> -->
    <div class="panel panel-default">
      <div class="panel-heading">Fűnyírók listája</div>

      <table class="table table-striped" [mfData]="data | dataFilter : filterQuery | brandFilter : LeftFilter.brand | typeFilter : LeftFilter.type | colorFilter : LeftFilter.color | weightFilter : LeftFilter.weight | perfFilter : LeftFilter.perf | cutwidthFilter : LeftFilter.cutwidth" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
        [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th colspan="8">
              Szűrés névre:
              <input class="form-control" [(ngModel)]="filterQuery" />
              <!--<input class="form-control" [(ngModel)]="weightfilterQuery"/>
              Szűrés márkára:
              <input class="form-control" [(ngModel)]="brandfilterQuery"/>
              <input class="form-control"  [value]="LeftFilter.brand"/>-->
            </th>
          </tr>

          <tr>
            <th class="column-image">
              Kép
            </th>
            <th class="column-brand">
              <mfDefaultSorter by="brandof_mower">Márka</mfDefaultSorter>
            </th>
            <th class="column-name">
              <mfDefaultSorter by="name">Név</mfDefaultSorter>
            </th>
            <th class="column-type">
              <mfDefaultSorter by="typeof_mower">Típus</mfDefaultSorter>
            </th>
            <th class="column-color">
              <mfDefaultSorter by="color_of">Szín</mfDefaultSorter>
            </th>
            <th class="column-cutting-width text-right">
              <mfDefaultSorter by="cutting_width_cm">Vágószélesség</mfDefaultSorter>
            </th>
            <th class="column-weight text-right">
              <mfDefaultSorter by="weight_in_kg">Súly</mfDefaultSorter>
            </th>
            <th class="column-performance text-right">
              <mfDefaultSorter by="performance_in_hp">Teljesítmény</mfDefaultSorter>
            </th>
          </tr>
          <!--<tr>
            <th colspan="5">
              Szűrés névre:
              <input class="form-control" [(ngModel)]="filterQuery" />
            </th>
          </tr> -->
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data" [class.selected]="item === selectedItem" (click)="onSelect(item)">
            <td class="column-image"><img height="64" src="{{item.image_of}}" /></td>
            <td class="column-brand">{{item.brandof_mower}}</td>
            <td class="column-name" >{{item.name}}</td>
            <td class="column-type" >{{item.typeof_mower}}</td>
            <td class="column-color">{{item.color_of}}</td>
            <td class="text-right column-cutting-width">{{item.cutting_width_cm}} cm</td>
            <td class="text-right column-weight">{{item.weight_in_kg}} kg</td>
            <td class="text-right column-performance">{{item.performance_in_hp}} LE</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]" class="pagination_buttons"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<br>