/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #666;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/

.pagination_buttons {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.panel-heading {
  color: #559ad7;
}

.table-header {
  color: #559ad7;
}

.column-image {
  width: 10%;
}

.column-brand {
  width: 16%;
}

.column-name {
  width: 22%;
}

.column-type {
  width: 16%;
}

.column-color {
  width: 9%;
}

.column-cutting-width {
  width: 9%;
}

.column-weight {
  width: 9%;
}

.column-performance {
  width: 9%;
}

@media only screen and (min-width: 240px) {
  .column-image {display: none}
  .column-brand {display: none}
  .column-name {display: table-cell}
  .column-type {display: none}
  .column-color {display: none}
  .column-cutting-width {display: none}
  .column-weight {display: none}
  .column-performance {display: none}
}

@media only screen and (min-width: 320px) {
  .column-image {display: none}
  .column-brand {display: table-cell}
  .column-name {display: table-cell}
  .column-type {display: none}
  .column-color {display: none}
  .column-cutting-width {display: none}
  .column-weight {display: none}
  .column-performance {display: none}
}

@media only screen and (min-width: 425px) {
  .column-image {display: none}
  .column-brand {display: table-cell}
  .column-name {display: table-cell}
  .column-type {display: table-cell}
  .column-color {display: none}
  .column-cutting-width {display: none}
  .column-weight {display: none}
  .column-performance {display: none}
}

@media only screen and (min-width: 496px) {
  .column-image {display: none}
  .column-brand {display: table-cell}
  .column-name {display: table-cell}
  .column-type {display: table-cell}
  .column-color {display: none}
  .column-cutting-width {display: table-cell}
  .column-weight {display: none}
  .column-performance {display: none}
}

@media only screen and (min-width: 680px) {
  .column-image {display: table-cell}
  .column-brand {display: table-cell}
  .column-name {display: table-cell}
  .column-type {display: table-cell}
  .column-color {display: none}
  .column-cutting-width {display: table-cell}
  .column-weight {display: none}
  .column-performance {display: none}
}

@media only screen and (min-width: 772px) {
  .column-image {display: table-cell}
  .column-brand {display: table-cell}
  .column-name {display: table-cell}
  .column-type {display: table-cell}
  .column-color {display: none}
  .column-cutting-width {display: table-cell}
  .column-weight {display: none}
  .column-performance {display: table-cell}
}

@media only screen and (min-width: 840px) {
  .column-image {display: none}
  .column-brand {display: table-cell}
  .column-name {display: table-cell}
  .column-type {display: table-cell}
  .column-color {display: none}
  .column-cutting-width {display: table-cell}
  .column-weight {display: none}
  .column-performance {display: table-cell}
}

@media only screen and (min-width: 1024px) {
  .column-image {display: table-cell}
  .column-brand {display: table-cell}
  .column-name {display: table-cell}
  .column-type {display: table-cell}
  .column-color {display: none}
  .column-cutting-width {display: table-cell}
  .column-weight {display: none}
  .column-performance {display: table-cell}
}

@media only screen and (min-width: 1160px) {
  .column-image {display: table-cell}
  .column-brand {display: table-cell}
  .column-name {display: table-cell}
  .column-type {display: table-cell}
  .column-color {display: none}
  .column-cutting-width {display: table-cell}
  .column-weight {display: table-cell}
  .column-performance {display: table-cell}
}

@media only screen and (min-width: 1224px) {
  .column-image {display: table-cell}
  .column-brand {display: table-cell}
  .column-name {display: table-cell}
  .column-type {display: table-cell}
  .column-color {display: table-cell}
  .column-cutting-width {display: table-cell}
  .column-weight {display: table-cell}
  .column-performance {display: table-cell}
}