 <div>
    <div class="text-1">Szűrők</div>

    <form>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="textFieldSearch">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="textFieldSearch">
          <label class="mdl-textfield__label" for="textFieldSearch">Keresés</label>
        </div>
      </div>
    </form>

    <!-- TÍPUS -->
    <div class="text-2">Típus</div>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="type_pushmover_petrol">
        <input type="checkbox" id="type_pushmover_petrol" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Benzines (kézi)</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="type_pushmover_electric">
        <input type="checkbox" id="type_pushmover_electric" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Elektromos (kézi)</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="type_trimmer_edger">
        <input type="checkbox" id="type_trimmer_edger" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Fűkasza</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="type_rideon_tractor">
        <input type="checkbox" id="type_rideon_tractor" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Fűnyíró traktor</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="type_robot">
        <input type="checkbox" id="type_robot" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Fűnyíró robot</span>
      </label>

    <!-- MÁRKA -->
    <div class="text-2">Márka</div>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="brand_of_item_1">
        <input type="checkbox" id="brand_of_item_1" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Márka 1</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="brand_of_item_2">
        <input type="checkbox" id="brand_of_item_2" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Márka 2</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="brand_of_item_3">
        <input type="checkbox" id="brand_of_item_3" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Márka 3</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="brand_of_item_4">
        <input type="checkbox" id="brand_of_item_4" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Márka 4</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="brand_of_item_5">
        <input type="checkbox" id="brand_of_item_5" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Márka 5</span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="brand_of_item_6">
        <input type="checkbox" id="brand_of_item_6" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Márka 6</span>
      </label>

    <!-- VÁGÓSZÉLESSÉG -->
    <div class="text-2">Vágószélesség</div>
      <span class="mdl-checkbox__label">Min: 0</span>
      <input id="cutting_width" class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="0" tabindex="0">

    <!-- TELJESÍTMÉNY -->
    <div class="text-2">Teljesítmény</div>
      <span class="mdl-checkbox__label">Min: 0</span>
      <input id="cutting_width" class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="0" tabindex="0">

    <!-- SÚLY -->
    <div class="text-2">Súly</div>
      <span class="mdl-checkbox__label">Min: 0</span>
      <input id="cutting_width" class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="0" tabindex="0">

    <br>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--raised mdl-button--colored width-to-100percent">
      Szűrés
    </button>
  </div>