    <div class="mdl-card">
      
      <div class="text-2">Rendezés</div>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ordering-1">
        <input type="radio" id="ordering-1" class="mdl-radio__button" name="ordering" value="1" checked>
        <span class="mdl-radio__label">Név</span>
      </label>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ordering-2">
        <input type="radio" id="ordering-2" class="mdl-radio__button" name="ordering" value="2">
        <span class="mdl-radio__label">Teljesítmény</span>
      </label>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ordering-3">
        <input type="radio" id="ordering-3" class="mdl-radio__button" name="ordering" value="3">
        <span class="mdl-radio__label">Súly</span>
      </label>
      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
        <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
        <span class="mdl-switch__label">Növekvő sorrend</span>
      </label>
    </div>